In [99]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

for dirname, _, filenames in os.walk("./"):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
        
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

./test.csv
./weirdos2.csv
./weirdos.csv
./greenwich_village_housing_data.csv
./Project_2.ipynb
./web_scraper.ipynb
./.ipynb_checkpoints/Project_2-checkpoint.ipynb
./.ipynb_checkpoints/test-checkpoint.csv
./.ipynb_checkpoints/web_scraper-checkpoint.ipynb
./.ipynb_checkpoints/weirdos-checkpoint.csv
./.ipynb_checkpoints/greenwich_village_housing_data-checkpoint.csv
./.ipynb_checkpoints/weirdos2-checkpoint.csv

In [100]:
import requests
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from homeharvest import scrape_property

# 1. Frame the problem
Using the customer description, Define the problem your trying to solve in your own words (remember this is not technial but must be specific so the customer understands the project

Build a model (or a system of models) that accurately predicts housing prices for properties located within the Greenwich Village area in New York City. This system will take in a set of parameters (yet to be fully determined; could consist of the number of rooms, square feet, proximity to parks, etc.), and generate a realistic price for the parameters given.

# 2. Get the Data 
Define how you recieved the data (provided, gathered..)

In [101]:
all_properties = [] 

locations = [
    '10003',
    '10011',
    '10014',
    '10012',
] # greenwich village zip codes 

listing_types = [
    'sold',
    'for_sale',
    'pending',
    'for_rent'
] # all listings

for loc in locations:
    for listing_type in listing_types:
        properties = scrape_property(
            location=loc,
            listing_type=listing_type,
            past_days=730
        )
        
        print(f'for zip code {loc} + listing type as {listing_type}, {len(properties)} results were found')
        
        all_properties.append(properties)
        # time.sleep(5)

all_properties = pd.concat(all_properties, ignore_index=True)
all_properties = all_properties.drop_duplicates(subset=['property_id'])
all_properties.to_csv('greenwich_village_housing_data.csv', index=False)

for zip code 10003 + listing type as sold, 533 results were found
for zip code 10003 + listing type as for_sale, 346 results were found
for zip code 10003 + listing type as pending, 69 results were found
for zip code 10003 + listing type as for_rent, 279 results were found
for zip code 10011 + listing type as sold, 761 results were found
for zip code 10011 + listing type as for_sale, 443 results were found
for zip code 10011 + listing type as pending, 71 results were found
for zip code 10011 + listing type as for_rent, 428 results were found
for zip code 10014 + listing type as sold, 367 results were found
for zip code 10014 + listing type as for_sale, 195 results were found
for zip code 10014 + listing type as pending, 29 results were found
for zip code 10014 + listing type as for_rent, 325 results were found
for zip code 10012 + listing type as sold, 166 results were found
for zip code 10012 + listing type as for_sale, 146 results were found
for zip code 10012 + listing type as pending, 21 results were found
for zip code 10012 + listing type as for_rent, 140 results were found

/tmp/ipykernel_2601692/2261856486.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_properties = pd.concat(all_properties, ignore_index=True)

In [102]:
print(len(all_properties)) # result: 4088 properties
all_properties.head() # just checking

4044

,property_url,property_id,listing_id,permalink,mls,mls_id,status,mls_status,text,style,formatted_address,full_street_line,street,unit,city,state,zip_code,beds,full_baths,half_baths,sqft,year_built,days_on_mls,list_price,list_price_min,list_price_max,list_date,pending_date,sold_price,last_sold_date,last_sold_price,assessed_value,estimated_value,tax,tax_history,new_construction,lot_sqft,price_per_sqft,latitude,longitude,neighborhoods,county,fips_code,stories,hoa_fee,parking_garage,agent_id,agent_name,agent_email,agent_phones,agent_mls_set,agent_nrds_id,broker_id,broker_name,builder_id,builder_name,office_id,office_mls_set,office_name,office_email,office_phones,nearby_schools,primary_photo,alt_photos
0,https://www.realtor.com/realestateandhomes-det...,9031100910,2970880625,242-E-15th-St_New-York_NY_10003_M90311-00910,DENY,23152724,SOLD,Sold,"This stunning four bedroom, two and a half bat...",CONDOS,"242 E 15th St Unit Garden, New York, NY, 10003",242 E 15th St Unit Garden,242 E 15th St,Unit Garden,New York,NY,10003,4,<NA>,<NA>,1625,1920,<NA>,2500000,<NA>,<NA>,2025-08-22,<NA>,2200000,2025-06-05,2200000,<NA>,<NA>,<NA>,<NA>,False,<NA>,1354,40.733032,-73.984978,"Midtown Manhattan, Gramercy Park",New York,36061,5,1560,NaN,2279164,Josh Rubin,JRubin@elliman.com,"[{'ext': None, 'primary': True, 'type': 'Mobil...",A-DENY-JBR,<NA>,2277901,Douglas Elliman NYC,<NA>,<NA>,2277890,O-DENY-77,111 Fifth,lead.manager@elliman.com,"[{'number': '2126454040', 'type': 'Office', 'p...","SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...",https://ap.rdcpix.com/692f21cd5d685a029dec021c...,https://ap.rdcpix.com/692f21cd5d685a029dec021c...
1,https://www.realtor.com/realestateandhomes-det...,9694952908,2979884500,718-Broadway-3_New-York_NY_10003_M96949-52908,DENY,23397811,SOLD,Sold,Move-in ready downtown loft with soaring ceili...,COOP,"718 Broadway Unit 3, New York, NY, 10003",718 Broadway Unit 3,718 Broadway,Unit 3,New York,NY,10003,1,<NA>,<NA>,<NA>,1908,91,1795000,<NA>,<NA>,2025-03-28,2025-05-07,1750000,2025-06-27,1750000,<NA>,<NA>,<NA>,<NA>,False,<NA>,<NA>,40.728958,-73.993347,"Downtown Manhattan, NoHo, Astor Place",New York,36061,11,3072,NaN,3065174,Benjamin P Dixon,benjamin.dixon@elliman.com,"[{'ext': None, 'primary': True, 'type': 'Mobil...",A-DENY-BPD,<NA>,2277901,Douglas Elliman NYC,<NA>,<NA>,2277890,O-DENY-77,111 Fifth,lead.manager@elliman.com,"[{'number': '2126454040', 'type': 'Office', 'p...","SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...",https://ap.rdcpix.com/2811ea14605488feeacfa98c...,https://ap.rdcpix.com/2811ea14605488feeacfa98c...
2,https://www.realtor.com/realestateandhomes-det...,4274276686,<NA>,210-E-17th-St-Apt-4B_New-York_NY_10003_M42742-...,<NA>,<NA>,SOLD,<NA>,<NA>,COOP,"210 E 17th St Apt 4B, New York, NY, 10003",210 E 17th St Apt 4B,210 E 17th St,Apt 4B,New York,NY,10003,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,950000,2025-05-16,950000,<NA>,865141,<NA>,<NA>,False,<NA>,<NA>,40.734740,-73.985237,"Midtown Manhattan, Gramercy Park",New York,36061,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,"SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...",https://ap.rdcpix.com/1db11d372de3348c3b35c98a...,https://ap.rdcpix.com/1db11d372de3348c3b35c98a...
3,https://www.realtor.com/realestateandhomes-det...,4083421990,<NA>,1-Irving-Pl-Apt-U12F_New-York_NY_10003_M40834-...,<NA>,<NA>,SOLD,<NA>,<NA>,CONDO,"1 Irving Pl Apt U12F, New York, NY, 10003",1 Irving Pl Apt U12F,1 Irving Pl,Apt U12F,New York,NY,10003,<NA>,<NA>,<NA>,785,1987,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1350000,2025-07-14,1350000,150364,1339000,16908,"[{'assessment': {'building': 127999, 'land': 2...",False,103700,1720,40.734564,-73.988525,"Midtown Manhattan, Union Square",New York,36061,27,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,"SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...",https://ap.rdcpix.com/1026195409/0a2024e1c0920...,https://ap.rdcpix.com/1026195409/0a2024e1c0920...
4,https://www.realtor.com/realestateandhomes-det...,3714076084,<NA>,201-E-17th-St-Apt-28J_New-York_NY_10003_M37140...,<NA>,<NA>,SOLD,<NA>,<NA>,CONDO,"201 E 17th St Apt 28J, New York, NY, 10003",201 E 17th St Apt 28J,201 E 17th St,Apt 28J,New York,NY,10003,<NA>,<NA>,<NA>,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,852500,2025-07-25,852500,<NA>,893200,<NA>,<NA>,False,<NA>,<NA>,40.735366,-73.985265,"Midtown Manhattan, Gramercy Park",New York,36061,0,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,"SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...",https://ap.rdcpix.com/5147f7d21008963d78ff82cb...,https://ap.rdcpix.com/5147f7d21008963d78ff82cb...

# 3. Explore the Data
Gain insights into the data you have from step 2, making sure to identify any bias

In [103]:
print(all_properties['zip_code'].value_counts())

zip_code
10011    1595
10003    1143
10014     859
10012     447
Name: count, dtype: int64

In [104]:
print(all_properties['status'].value_counts())

status
SOLD          1827
FOR_RENT      1073
FOR_SALE       782
PENDING        356
CONTINGENT       6
Name: count, dtype: int64

In [105]:
price_cols = [
    'list_price', 
    # 'list_price_min', 
    # 'list_price_max', 
    'sold_price', 
    'last_sold_price', 
    'assessed_value', 
    'estimated_value'
]

for col in price_cols:
    print(f'------DATA FOR COLUMN \'{col.upper()}\'------')
    
    null_counts = all_properties.groupby('status')[col].apply(lambda x: x.isnull().sum())
    for status in listing_types:
        total = len(all_properties[all_properties['status'] == status.upper()])
        if status.upper() in null_counts.index:
            print(f'number of null values ({status}): {null_counts[status.upper()]}/{total}')
        else: print(f'number of null values ({status}): 0')
            

    print(f'\nmin: {all_properties[col].min():,.2f}')
    print(f'max: {all_properties[col].max():,.2f}')
    print(f'q1: {all_properties[col].quantile(0.25):,.2f}')
    print(f'q3: {all_properties[col].quantile(0.75):,.2f}')
    print(f'mean: {all_properties[col].mean():,.2f}')
    print(f'median: {all_properties[col].median():,.2f}\n')

------DATA FOR COLUMN 'LIST_PRICE'------
number of null values (sold): 1248/1827
number of null values (for_sale): 1/782
number of null values (pending): 0/356
number of null values (for_rent): 121/1073

min: 1,535.00
max: 399,500,000.00
q1: 6,900.00
q3: 2,250,000.00
mean: 2,382,294.08
median: 795,000.00

------DATA FOR COLUMN 'SOLD_PRICE'------
number of null values (sold): 0/1827
number of null values (for_sale): 381/782
number of null values (pending): 176/356
number of null values (for_rent): 921/1073

min: 5,350.00
max: 138,930,068.00
q1: 795,000.00
q3: 3,000,000.00
mean: 2,858,889.55
median: 1,550,000.00

------DATA FOR COLUMN 'LAST_SOLD_PRICE'------
number of null values (sold): 0/1827
number of null values (for_sale): 381/782
number of null values (pending): 176/356
number of null values (for_rent): 921/1073

min: 5,350.00
max: 138,930,068.00
q1: 795,000.00
q3: 3,000,000.00
mean: 2,858,889.55
median: 1,550,000.00

------DATA FOR COLUMN 'ASSESSED_VALUE'------
number of null values (sold): 1032/1827
number of null values (for_sale): 576/782
number of null values (pending): 292/356
number of null values (for_rent): 974/1073

min: 28,668.00
max: 39,398,400.00
q1: 159,787.00
q3: 517,246.00
mean: 498,344.89
median: 273,447.00

------DATA FOR COLUMN 'ESTIMATED_VALUE'------
number of null values (sold): 168/1827
number of null values (for_sale): 225/782
number of null values (pending): 98/356
number of null values (for_rent): 885/1073

min: 42,700.00
max: 45,029,300.00
q1: 935,450.00
q3: 2,965,475.50
mean: 2,493,372.37
median: 1,602,200.00

## conclusion:
- use LIST_PRICE for all FOR_SALE and PENDING properties
- use SOLD_PRICE for all SOLD properties
- use LIST_PRICE for all FOR_RENT properties
    - for FOR_RENT properties missing the LIST_PRICE column:
        - average out their LIST_PRICE_MIN and LIST_PRICE_MAX
    - everything else just drop!

In [107]:
# analyze suspiciously low "sold prices" and other rows that r missing data

min_price_range = 200000

weirdos = all_properties[all_properties['sold_price'] < min_price_range]
weirdos.to_csv('weirdos.csv', index=False)
print(weirdos.head())

weirdos2 = all_properties[(all_properties['status'] == 'FOR_RENT') & (all_properties['list_price'].isnull())]
weirdos2.to_csv('weirdos2.csv', index=False)
print(weirdos2.head())

bed_null_count = len(all_properties[all_properties['beds'].isnull()])
bath_null_count = len(all_properties[all_properties['full_baths'].isnull()])
print(f'number of rows that have null values for beds column: {bed_null_count}')
print(f'number of rows that have null values for baths column: {bath_null_count}')

garage_nonnull_count = len(all_properties) - len(all_properties[all_properties['parking_garage'].isnull()])
print(f'number of rows that have a value for parking garage: {garage_nonnull_count}')

school_nonnull_count = len(all_properties) - len(all_properties[all_properties['nearby_schools'].isnull()])
print(f'number of rows that have a value for nearby schools: {school_nonnull_count}')

                                           property_url property_id  \
205   https://www.realtor.com/realestateandhomes-det...  9104456986
320   https://www.realtor.com/realestateandhomes-det...  9387879318
530   https://www.realtor.com/realestateandhomes-det...  9412159427
642   https://www.realtor.com/realestateandhomes-det...  3168024681
1117  https://www.realtor.com/rentals/details/317-E-...  4380288206

      listing_id                                          permalink   mls  \
205         <NA>  215-E-19th-St-Apt-11G_New-York_NY_10003_M91044...  <NA>
320         <NA>   70-E-10th-St-Hlwy_New-York_NY_10003_M93878-79318  <NA>
530   2981857475  300-Mercer-St-Apt-10I_New-York_NY_10003_M94121...  DENY
642   2984902424       135-E-19th-St_New-York_NY_10003_M31680-24681  DENY
1117  2781031204  317-E-18th-St-Apt-3E_New-York_NY_10003_M43802-...  OLNY

        mls_id    status mls_status  \
205       <NA>      SOLD       <NA>
320       <NA>      SOLD       <NA>
530   23223350      SOLD       Sold
642   23547803  FOR_SALE     Active
1117   1283905  FOR_RENT     Active

                                                   text          style  \
205                                                <NA>           COOP
320                                                <NA>           COOP
530                                                <NA>      APARTMENT
642   A rare chance to own one of New York City's la...      TOWNHOMES
1117  Bright and cozy studio on a tree-lined street....  SINGLE_FAMILY

                               formatted_address       full_street_line  \
205   215 E 19th St Apt 11G, New York, NY, 10003  215 E 19th St Apt 11G
320            70 E 10th St, New York, NY, 10003           70 E 10th St
530   300 Mercer St Apt 10I, New York, NY, 10003  300 Mercer St Apt 10I
642           135 E 19th St, New York, NY, 10003          135 E 19th St
1117   317 E 18th St Apt 3E, New York, NY, 10003   317 E 18th St Apt 3E

             street     unit      city state zip_code  beds full_baths  \
205   215 E 19th St  Apt 11G  New York    NY    10003  <NA>       <NA>
320    70 E 10th St     <NA>  New York    NY    10003  <NA>       <NA>
530   300 Mercer St  Apt 10I  New York    NY    10003     1       <NA>
642   135 E 19th St     <NA>  New York    NY    10003     6          5
1117  317 E 18th St   Apt 3E  New York    NY    10003     0          1

     half_baths  sqft year_built days_on_mls list_price list_price_min  \
205        <NA>  <NA>       <NA>        <NA>       <NA>           <NA>
320        <NA>  <NA>       <NA>        <NA>       <NA>           <NA>
530        <NA>  <NA>       1976        <NA>       5350           <NA>
642           1  6798       1901          45    7995000           <NA>
1117       <NA>  <NA>       1920          10       2750           <NA>

     list_price_max   list_date pending_date sold_price last_sold_date  \
205            <NA>        <NA>         <NA>     180000     2024-08-21
320            <NA>        <NA>         <NA>     104000     2023-10-24
530            <NA>  2025-05-14         <NA>       5350     2024-10-08
642            <NA>  2025-08-01         <NA>     120500     1977-08-15
1117           <NA>  2025-09-05         <NA>     195000     2010-11-09

     last_sold_price assessed_value estimated_value    tax  \
205           180000           <NA>          633800   <NA>
320           104000           <NA>         1271100   <NA>
530             5350           <NA>            <NA>   <NA>
642           120500         780600         7709100  79964
1117          195000           <NA>         1229000   <NA>

                                            tax_history  new_construction  \
205                                                <NA>             False
320                                                <NA>             False
530                                                <NA>             False
642   [{'assessment': {'building': 454440, 'land': 3...             False
1117                                               <NA>             False

     lot_sqft price_per_sqft   latitude  longitude  \
205      <NA>           <NA>  40.736136 -73.983856
320      <NA>           <NA>  40.731226 -73.991128
530      <NA>           <NA>        NaN        NaN
642      <NA>           1176  40.736890 -73.985662
1117     <NA>           <NA>  40.734651 -73.982108

                              neighborhoods    county fips_code stories  \
205        Midtown Manhattan, Gramercy Park  New York     36061    <NA>
320   Greenwich Village, Downtown Manhattan  New York     36061    <NA>
530                                    <NA>    Queens      <NA>      35
642        Midtown Manhattan, Gramercy Park  New York     36061       4
1117       Midtown Manhattan, Gramercy Park  New York     36061    <NA>

     hoa_fee  parking_garage   agent_id      agent_name  \
205     <NA>             NaN       <NA>            <NA>
320     <NA>             NaN       <NA>            <NA>
530        0             NaN  100418293   Ashley Tucker
642        0             NaN    2278919  Eleonora Srugo
1117       0             NaN    3960569      Kevin Diaz

                    agent_email  \
205                        <NA>
320                        <NA>
530   Ashley.Tucker@elliman.com
642          ESrugo@elliman.com
1117          kdiaz@elegran.com

                                           agent_phones  agent_mls_set  \
205                                                <NA>           <NA>
320                                                <NA>           <NA>
530   [{'ext': None, 'primary': True, 'type': 'Mobil...    A-DENY-ATUC
642   [{'ext': None, 'primary': True, 'type': 'Mobil...     A-DENY-ENS
1117  [{'ext': '177', 'primary': True, 'type': 'offi...  A-OLNY-159631

     agent_nrds_id broker_id                                   broker_name  \
205           <NA>      <NA>                                          <NA>
320           <NA>      <NA>                                          <NA>
530           <NA>   2277901                  Douglas Elliman NYC Brooklyn
642           <NA>   2277901                  Douglas Elliman NYC Brooklyn
1117          <NA>   3638127  Elegran Real Estate And Development - Broker

     builder_id builder_name office_id office_mls_set  \
205        <NA>         <NA>      <NA>           <NA>
320        <NA>         <NA>      <NA>           <NA>
530        <NA>         <NA>   2277888      O-DENY-89
642        <NA>         <NA>   2277876      O-DENY-50
1117       <NA>         <NA>   3346685    O-OLNY-2652

                              office_name              office_email  \
205                                  <NA>                      <NA>
320                                  <NA>                      <NA>
530                  Douglas Elliman NYC   lead.manager@elliman.com
642                       Douglas Elliman  lead.manager@elliman.com
1117  Elegran Real Estate And Development          info@elegran.com

                                          office_phones  \
205                                                <NA>
320                                                <NA>
530   [{'number': '2123508500', 'type': 'Office', 'p...
642   [{'number': '2128917000', 'type': 'Office', 'p...
1117  [{'number': '(212) 204-6591', 'type': 'Office'...

                                         nearby_schools  \
205   SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...
320   SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...
530                                                <NA>
642   SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...
1117  New York City Special Schools - District 75, N...

                                          primary_photo  \
205                                                <NA>
320                                                <NA>
530                                                <NA>
642   https://ap.rdcpix.com/e7b684c2d2ea0374a6e8774a...
1117  https://ap.rdcpix.com/9eadda9d077e65ff5d242849...

                                             alt_photos
205                                                <NA>
320                                                <NA>
530                                                <NA>
642   https://ap.rdcpix.com/e7b684c2d2ea0374a6e8774a...
1117  https://ap.rdcpix.com/9eadda9d077e65ff5d242849...
                                          property_url property_id  \
950  https://www.realtor.com/rentals/details/8-Gram...  4376375188
954  https://www.realtor.com/rentals/details/1-Unio...  4961102007
958  https://www.realtor.com/rentals/details/E-1st-...  3218325631
971  https://www.realtor.com/rentals/details/166-2n...  3184109687
972  https://www.realtor.com/rentals/details/166-2n...  9206054464

     listing_id                                          permalink   mls  \
950  2985931249  8-Gramercy-Park-S-Apt-6L_New-York_NY_10003_M43...  STEZ
954  2984403550  1-Union-Sq-S-Apt-21B_New-York_NY_10003_M49611-...  STEZ
958  2966798634            E-1st-St_New-York_NY_10003_M32183-25631  ZILL
971  2986110370  166-2nd-Ave-Apt-9D_New-York_NY_10003_M31841-09687  STEZ
972  2986063250  166-2nd-Ave-Apt-3F_New-York_NY_10003_M92060-54464  STEZ

            mls_id    status mls_status  \
950   a0g4g6zhdz60  FOR_RENT       <NA>
954  467t5cyr0s4qz  FOR_RENT       <NA>
958  4sq3bk6jmztcp  FOR_RENT       <NA>
971  3n365vprtwb99  FOR_RENT       <NA>
972   5b8dnj16uuah  FOR_RENT       <NA>

                                                  text      style  \
950  Available mid-September, currently occupied. P...     CONDOS
954  Feel at home wherever you choose to live with ...     CONDOS
958  Avalon Bowery Place, located in Bowery, featur...  APARTMENT
971  Spacious Studio with Empire State Views 166 Se...     CONDOS
972  Spacious and bright one-bedroom in the heart o...     CONDOS

                                  formatted_address          full_street_line  \
950  8 Gramercy Park S Apt 6L, Manhattan, NY, 10003  8 Gramercy Park S Apt 6L
954      1 Union Sq S Apt 21B, Manhattan, NY, 10003      1 Union Sq S Apt 21B
958                11 E 1st St, New York, NY, 10003               11 E 1st St
971        166 2nd Ave Apt 9D, Manhattan, NY, 10003        166 2nd Ave Apt 9D
972        166 2nd Ave Apt 3F, Manhattan, NY, 10003        166 2nd Ave Apt 3F

              street     unit       city state zip_code  beds full_baths  \
950  8 Gramercy Park   Apt 6L  Manhattan    NY    10003  <NA>       <NA>
954       1 Union Sq  Apt 21B  Manhattan    NY    10003  <NA>       <NA>
958      11 E 1st St     <NA>   New York    NY    10003  <NA>       <NA>
971      166 2nd Ave   Apt 9D  Manhattan    NY    10003  <NA>       <NA>
972      166 2nd Ave   Apt 3F  Manhattan    NY    10003  <NA>       <NA>

    half_baths  sqft year_built days_on_mls list_price list_price_min  \
950       <NA>  <NA>       <NA>          13       <NA>           4925
954       <NA>  <NA>       <NA>          59       <NA>           6250
958       <NA>  <NA>       <NA>         507       <NA>              0
971       <NA>  <NA>       <NA>           9       <NA>           4050
972       <NA>  <NA>       <NA>          10       <NA>           5950

    list_price_max   list_date pending_date sold_price last_sold_date  \
950           4925  2025-09-02         <NA>       <NA>           <NA>
954           6250  2025-07-18         <NA>       <NA>           <NA>
958          10495  2024-04-26         <NA>       <NA>           <NA>
971           4050  2025-09-06         <NA>       <NA>           <NA>
972           5950  2025-09-05         <NA>       <NA>           <NA>

    last_sold_price assessed_value estimated_value   tax tax_history  \
950            <NA>           <NA>            <NA>  <NA>        <NA>
954            <NA>           <NA>            <NA>  <NA>        <NA>
958            <NA>           <NA>            <NA>  <NA>        <NA>
971            <NA>           <NA>            <NA>  <NA>        <NA>
972            <NA>           <NA>            <NA>  <NA>        <NA>

     new_construction lot_sqft price_per_sqft   latitude  longitude  \
950             False     <NA>           <NA>  40.738000 -73.987498
954             False     <NA>           <NA>  40.734633 -73.990682
958             False     <NA>           <NA>  40.724460 -73.992010
971             False     <NA>           <NA>  40.730086 -73.986384
972             False     <NA>           <NA>  40.729969 -73.986420

                             neighborhoods    county fips_code stories  \
950       Midtown Manhattan, Gramercy Park  New York     36061    <NA>
954  Greenwich Village, Downtown Manhattan  New York     36061    <NA>
958             Downtown Manhattan, Bowery  New York     36061    <NA>
971       East Village, Downtown Manhattan  New York     36061    <NA>
972       Downtown Manhattan, East Village  New York     36061    <NA>

    hoa_fee  parking_garage agent_id agent_name agent_email agent_phones  \
950    <NA>             NaN     <NA>       <NA>        <NA>         <NA>
954    <NA>             NaN     <NA>       <NA>        <NA>         <NA>
958    <NA>             NaN     <NA>       <NA>        <NA>         <NA>
971    <NA>             NaN     <NA>       <NA>        <NA>         <NA>
972    <NA>             NaN     <NA>       <NA>        <NA>         <NA>

    agent_mls_set agent_nrds_id broker_id broker_name builder_id builder_name  \
950          <NA>          <NA>      <NA>        <NA>       <NA>         <NA>
954          <NA>          <NA>      <NA>        <NA>       <NA>         <NA>
958          <NA>          <NA>      <NA>        <NA>       <NA>         <NA>
971          <NA>          <NA>      <NA>        <NA>       <NA>         <NA>
972          <NA>          <NA>      <NA>        <NA>       <NA>         <NA>

    office_id office_mls_set office_name office_email office_phones  \
950      <NA>           <NA>        <NA>         <NA>          <NA>
954      <NA>           <NA>        <NA>         <NA>          <NA>
958      <NA>           <NA>        <NA>         <NA>          <NA>
971      <NA>           <NA>        <NA>         <NA>          <NA>
972      <NA>           <NA>        <NA>         <NA>          <NA>

                                        nearby_schools  \
950  SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...
954  SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...
958  New York City Special Schools - District 75, N...
971  SUCCESS ACADEMY CHARTER SCHOOL-UNION SQUARE, N...
972  New York City Special Schools - District 75, N...

                                         primary_photo  \
950  https://ar.rdcpix.com/5d1e2d33b7e856c84b9f6b30...
954  https://ar.rdcpix.com/be4dc6bd4cbcc4b2748cc803...
958  https://ar.rdcpix.com/2cf1180839d10437f73ece83...
971  https://ar.rdcpix.com/35882aa41c89f186e96626ff...
972  https://ar.rdcpix.com/ad65c0041e3ef5143d5460c5...

                                            alt_photos
950  https://ar.rdcpix.com/5d1e2d33b7e856c84b9f6b30...
954  https://ar.rdcpix.com/be4dc6bd4cbcc4b2748cc803...
958  https://ar.rdcpix.com/2cf1180839d10437f73ece83...
971  https://ar.rdcpix.com/35882aa41c89f186e96626ff...
972  https://ar.rdcpix.com/ad65c0041e3ef5143d5460c5...
number of rows that have null values for beds column: 1364
number of rows that have null values for baths column: 1894
number of rows that have a value for parking garage: 7
number of rows that have a value for nearby schools: 3965

In [55]:
print('all column names: ')
for col in all_properties:
    print(col)

all column names:
property_url
property_id
listing_id
permalink
mls
mls_id
status
mls_status
text
style
formatted_address
full_street_line
street
unit
city
state
zip_code
beds
full_baths
half_baths
sqft
year_built
days_on_mls
list_price
list_price_min
list_price_max
list_date
pending_date
sold_price
last_sold_date
last_sold_price
assessed_value
estimated_value
tax
tax_history
new_construction
lot_sqft
price_per_sqft
latitude
longitude
neighborhoods
county
fips_code
stories
hoa_fee
parking_garage
agent_id
agent_name
agent_email
agent_phones
agent_mls_set
agent_nrds_id
broker_id
broker_name
builder_id
builder_name
office_id
office_mls_set
office_name
office_email
office_phones
nearby_schools
primary_photo
alt_photos

In [123]:
# further data analysis 

sold_df = all_properties[all_properties['status'] == 'SOLD']
for_rent_df = all_properties[all_properties['status'] == 'FOR_RENT']
for_sale_df = all_properties[all_properties['status'] == 'FOR_SALE']
pending_df = all_properties[all_properties['status'] == 'PENDING'] 

temp_dfs = [sold_df, for_rent_df, for_sale_df, pending_df] 

for df in temp_dfs: 
    print(f"----DATA ANALYSIS ON {df['status'].iloc[0]} DF----")
    print(f"price range:")
    print(f"min: {df['sold_price'].min()}\tmax:{df['sold_price'].max()}")
    print(f"median: {df['sold_price'].median()}\tmean: {df['sold_price'].mean()}")
    print(f"\nbed/bath columns:")
    print(f"null bed rows: {len(df[df['beds'].isnull()])}/{len(df)}", end='\t')
    print(f"null bath rows: {len(df[df['full_baths'].isnull()])}/{len(df)}", end='\t')
    print(f"\nbeds count median: {df['beds'].median():.1f}\nbeds count mean: {df['beds'].mean():.1f}")
    print(f"\baths count median: {df['full_baths'].median():.1f}\nbeds count mean: {df['full_baths'].mean():.1f}")

----DATA ANALYSIS ON SOLD DF----
price range:
min: 5350	max:132000000
median: 1800000.0	mean: 3123874.4980842914

bed/bath columns:
null bed rows: 1244/1827	null bath rows: 1764/1827
beds count median: 1.0
beds count mean: 1.7
----DATA ANALYSIS ON FOR_RENT DF----
price range:
min: 139250	max:138930068
median: 1100000.0	mean: 2611552.388157895

bed/bath columns:
null bed rows: 120/1073	null bath rows: 124/1073
beds count median: 1.0
beds count mean: 1.3
----DATA ANALYSIS ON FOR_SALE DF----
price range:
min: 22100	max:45000000
median: 1135000.0	mean: 2254975.583541147

bed/bath columns:
null bed rows: 0/782	null bath rows: 6/782
beds count median: 2.0
beds count mean: 1.9
----DATA ANALYSIS ON PENDING DF----
price range:
min: 16667	max:19900000
median: 912500.0	mean: 1730759.8444444444

bed/bath columns:
null bed rows: 0/356	null bath rows: 0/356
beds count median: 1.0
beds count mean: 1.6

# 4.Prepare the Data


Apply any data transformations and explain what and why

In [112]:
# step 1: keep only relevant columns
keep_colnames = ['status',
                 'style',
                 'zip_code',
                 'beds',
                 'full_baths',
                 'half_baths',
                 'sqft',
                 'year_built',
                 'list_price',
                 'list_price_min',
                 'list_price_max',
                 'sold_price',
                 'last_sold_date',
                 'new_construction',
                 'lot_sqft',
                 'price_per_sqft',
                 'latitude',
                 'longitude',
                 'neighborhoods',
                 'stories',
                 'hoa_fee',
                 'nearby_schools'
                ]

new_df = all_properties[keep_colnames].copy()

# separate into sold, for_rent, pending, and for_sale

sold_homes = new_df[new_df['status'] == 'SOLD'].copy()
for_rent_homes = new_df[new_df['status'] == 'FOR_RENT'].copy()
pending_homes = new_df[new_df['status'] == 'PENDING'].copy()
for_sale_homes = new_df[new_df['status'] == 'FOR_SALE'].copy()

# fix list_price column null values in for_rent_homes

for_rent_homes['list_price'].fillna(
    for_rent_homes[['list_price_min', 'list_price_max']].mean(axis=1), inplace=True
) 

# CHECK IF EACH DF HAS A COMPLETELY-FILLED PRICE COLUMN

print(f"number of null SOLD_PRICE values in sold_homes: {len(sold_homes[sold_homes['sold_price'].isnull()])}")
print(f"number of null LIST_PRICE values in pending_homes: {len(pending_homes[pending_homes['list_price'].isnull()])}")
print(f"number of null LIST_PRICE values in for_sale_homes: {len(for_sale_homes[for_sale_homes['list_price'].isnull()])}")
print(f"number of null LIST_PRICE values in for_rent_homes: {len(for_rent_homes[for_rent_homes['list_price'].isnull()])}")

number of null SOLD_PRICE values in sold_homes: 0
number of null LIST_PRICE values in pending_homes: 0
number of null LIST_PRICE values in for_sale_homes: 1
number of null LIST_PRICE values in for_rent_homes: 1

/tmp/ipykernel_2601692/3069006171.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for_rent_homes['list_price'].fillna(
/tmp/ipykernel_2601692/3069006171.py:37: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  for_rent_homes['list_price'].fillna(

In [114]:
# drop any final null rows (for_sale_homes and for_rent_homes) 

for_sale_homes.dropna(subset=['list_price'], axis=0, inplace=True)
for_rent_homes.dropna(subset=['list_price'], axis=0, inplace=True) 

# recheck 

print(f"number of null LIST_PRICE values in for_sale_homes: {len(for_sale_homes[for_sale_homes['list_price'].isnull()])}")
print(f"number of null LIST_PRICE values in for_rent_homes: {len(for_rent_homes[for_rent_homes['list_price'].isnull()])}")

number of null LIST_PRICE values in for_sale_homes: 0
number of null LIST_PRICE values in for_rent_homes: 0

hihi	hi
hi	hi

# 5. Model the data
Using selected ML models, experment with your choices and describe your findings. Finish by selecting a Model to continue with

# 6. Fine Tune the Model

With the select model descibe the steps taken to acheve the best rusults possiable

# 7. Present
In a customer faceing Document provide summery of finding and detail approach taken

# 8. Launch the Model System
Define your production run code, This should be self susficent and require only your model pramaters

In [ ]:
def infrence(prams):
    results = m.run(prams)
    return results